<div class="container">
	<h1>User info</h1>
	  <div>
	    <%= form_for (current_end_user), url: end_users_path do |f| %>
	  	<h4>email</h4>
	  	<p><%= f.text_area :email %></p>
	    <%= f.submit 'Update User' %>
	    <% end %>
	  </div>
</div>