<div class="container">
 <h1>商品一覧</h1>
    <table class="table">
		<thead class="thead bg-info text-white">
			<tr>
                <th scope="col"></th>
				<th scope="col">商品名</th>
				<th scope="col">税抜価格</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<% @items.each do |item| %>
				<tr>
					<td><%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" %></td>
					<td><%= item.name %></td>
					<td>¥<%= item.price %></td>
					<td><%= link_to "詳細", end_users_item_path(item.id) %></td>
		    <% end %>
		        </tr>

		</tbody>
	</table>
</div>